<div class="row">
  <div class="m-md-auto col-md-10">
    <h4 *ngIf="pickedProducts.length == 0">Krepšelis tuščias! Prašome pasirinkti produktą</h4>
    <table class="table table-hover" *ngIf="pickedProducts.length !== 0">
      <thead>
        <tr>
          <td>Nr.</td>
          <td>Prekės pavadinimas</td>
          <td>Svoris gramais</td>
          <td>Kaina eur</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of pickedProducts">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.weight }}</td>
          <td>{{ product.price }}</td>
          <td>
            <button class="button productButton" (click)="removeFromShopCart(product)">Pašalinti iš krepšelio</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button class="button orderButton" *ngIf="pickedProducts.length !== 0" (click)="makeOrderList()">Užsakyti</button>
  </div>
</div>
<hr>
<div class="row orderList">
  <div class="m-md-auto col-md-10">
    <h4 *ngIf="orderList.length !== 0">Užsakymų sąrašas</h4>
    <table class="table table-hover" *ngIf="orderList.length !== 0">
      <thead>
        <tr>
          <td>Data</td>
          <td>Užsakytos prekės</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let count of orderList">
          <td>{{ date | date:'yyyy-MM-dd HH:mm' }}</td>
          <td>
            <ul>
              <li *ngFor="let product of count">{{ product.name }} {{ product.price }} Eur</li>
            </ul>
          </td>
          <td>{{ counter }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>