/*lists*/
.orderList {
  margin-top: 5%;
}
.shopingCart {
  min-height: 15vh;
}
/*buttons*/
.productButton, .orderButton {
  color: #fff;
  background-color: #51bf87;
  border: none;
}

.navButtons { 
  color: #fff;
  background-color: #0bacd3;
  border: none;
}

/*other elements*/
.pagination {
  margin-top: 5%;
}
.searchBars {
min-height: 8%;
}
.search {
  border-radius: 20px;
  width: 25vw;
  outline: none;
}
.allApp {
  min-height: 97vh;
  border-radius: 20px;

}
.container {
  margin-top: 1.5vh;
}
.backgroundImage:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lavender;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-image: url('./assets/img/baked_breads.png');
  width: 100%;
  height: 100%;
  opacity : 0.15;
  z-index: -1;
  border-radius: 20px;
}

thead {
  background-color: lavender;
}